{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}

<div class="posts">
  {% for post in post_list %}
    <!-- A single blog post -->
    <section class="post">
        <header class="post-header">
          {% load staticfiles%}

          <h2 class="post-title"><a href="{% url "detail" id=post.id %}">{{ post.title }}</a></h2>

            <p class="post-meta">
            Time: <a href="#" class="post-author">{{ post.date_time}}</a> under <a class="post-category post-category-design" href="{% url "search_tag" tag=post.category %}">{{ post.category }}</a>
            </p>
        </header>

        <div class="post-description">
            <p>
              {{ post.content | custom_markdown}}
            </p>
        </div>
        <a class="pure-botton" href="{% url "detail" id=post.id %}">Read more >>></a>
    </section>
  {% endfor %}
</div>
{% endblock %}
